@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Jura:wght@300;400;500;600;700&family=Karla:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
		--font-inter: 'Inter', sans-serif;
		--background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
		--textgrey: 0, 0%, 50%;
		--grey: 0, 0%, 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
	.rotate-left {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	
	.rotate-right {
		writing-mode: vertical-lr;
	}
}

::selection {
	background: hsl(var(--muted));
	color: hsl(var(--foreground));
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--muted));
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--foreground));
}

* {
	box-sizing: border-box;
	background-color: hsl(var(--background));
}

html, body {
	font-family: var(--font-inter);
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

a[href] {
	color: hsl(var(--foreground));
	transition: all .1s ease-in-out;
	text-decoration: none;
}

.head-link {
	padding-bottom: 0.2rem;
	color: hsl(var(--foreground));
	position: relative;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: color;

	&:hover, &:focus {
		color: hsl(var(--foreground));
	}

	&:focus:after, &:hover:after {
		width: 100%;
		left: 0%;
	}

	&:after {
		content: "";
		pointer-events: none;
		bottom: -2px;
		left: 50%;
		position: absolute;
		width: 0%;
		height: 1px;
		background-color: #fff;
		transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
		transition-duration: 400ms;
		transition-property: width, left;
	}
}

.subhead-link {
	&:before {
		background-color: #fff;
		content: "";
		display: inline-block;
		height: 1px;
		transition: all .42s cubic-bezier(.25,.8,.25,1);
		width: 0;
	}

	&:hover:before {
		margin-right: 10px;
		background-color: #fff;
		width: 3rem;
	}
}

.list {
	counter-reset: steps;

	.lists {
		counter-increment: steps;

		&::before {
			display: flex;
			align-items: center;
			justify-content: center;
			content: counter(steps);
			margin: 0;
			position: absolute;
			left: -1.10rem;
			padding: 5px;
			margin-right: 0;
			border-radius: 50%;
			background-color: hsl(var(--foreground));
			color: hsl(var(--background));
		}
	}
}

.ol {
	counter-reset: steps;

	.li {
		counter-increment: steps;

		&::before {
			display: flex;
			align-items: center;
			justify-content: center;
			content: counter(steps);
			margin: 0;
			position: absolute;
			left: -1.10rem;
			padding: 5px;
			margin-right: 0;
			border-radius: 50%;
			background-color: hsl(var(--foreground));
			color: hsl(var(--background));
		}
	}
}
