@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
	--text-selection: #e63946;
	--footer-dot: rebeccapurple;
	--link: #50fa7b;
	--background-color: #202124;
	--hovercolor: navy;
}

h1::before {
	color: var(--link);
	content: "# ";
}

h2::before {
	color: var(--link);
	content: "## ";
}

h3::before {
	color: var(--link);
	content: "### ";
}

h4::before {
	color: var(--link);
	content: "#### ";
}

p::before {
	content: "__";
	color: var(--link);
}

::selection {
	background: var(--text-selection);
	color: white;
	text-shadow: none;
}

body {
	color: white;
	background-color: var(--background-color);
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}

a[href] {
	color: white;
	transition: all .3s ease;
	text-decoration: none;
	border-bottom: 3px solid var(--link);

	&:hover {
		background-color: var(--link);
		color: var(--background-color);
		text-decoration: none;
	}
}

.container {
	width: 980px;
	margin: 0 auto;
}

.navbar {
	margin-top: 5px;

	.container {
		display: flex;
		align-items: center;
	}

	.logo {
		transition: all .3s ease;
		padding: 0 2px 0 2px;
		font-size: 28px;
		font-weight: 600;
		text-decoration: none;
		border: 3px solid var(--link);
		background-color: var(--link);
		color: #202124;

		&:hover {
			background-color: var(--background-color);
			color: white;
		}
	}

	.nav-links {
		display: flex;
		margin-left: auto;
		list-style: none;

		.nav-item {
			transition: all .3s ease;
			position: relative;
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
			font-weight: 600;
			text-decoration: none;
			border-bottom: 3px solid var(--link);

			&:hover {
				display: inline-block;
				background-color: var(--link);
				color: var(--background-color);
				text-decoration: none;
			}
		}
	}
}

.hero {
	padding-top: 20px;
	padding-bottom: 20px;

	.container {
		display: flex;
		align-items: center;
	}

	.text-wrapper {
		width: 50%;
		
		&.w-full {
			width: 100%;
		}

		.title {
			font-size: 38px;
			margin-top: 0;
			margin-bottom: 10px;

			&.smaller {
				font-size: 30px;
			}
		}

		.description {
			font-size: 20px;
			line-height: 1.5;

			&.paragraph {
				font-family: 'Fira Sans', sans-serif;
			}
		}

		.button-container {
			display: flex;

			&.left {
				justify-content: flex-start;
			}

			&.center {
				justify-content: center;
			}
		
			.btn {
				position: relative;
				display: inline-block;
				cursor: pointer;
				text-decoration: none;
				padding: 15px 25px;
				border: 3px solid #50fa7b;
				font-weight: bold;
				letter-spacing: 3px;
				color: white;
				text-transform: uppercase;
				background: #202124;
				transform-style: preserve-3d;
				transition: .15s cubic-bezier(0, 0, .6, 1);

				&.center {
					margin: 0 10px 0 10px;
				}
			}
			
			.btn::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #2d8442;
				box-shadow: 0 0 0 3px #50fa7b;
				transform: translate3d(0, .75em, -1em);
				transition: .15s cubic-bezier(0, 0, .6, 1);
			}
			
			.btn:hover {
				background: #43454C;
				transform: translate(0, .25em);
			}
			
			.btn:hover::before {
				box-shadow: 0 0 0 3px #50fa7b;
				transform: translate3d(0, .5em, -1em);
			}
			
			.btn:active {
				background: #50fa7b;
				color: #202124;
				transform: translate(0, .75em);
			}
			
			.btn:active::before {
				transform: translate3d(0, 0, -1em);
			}
		}
	}

	.image-wrapper {
		width: 50%;
		text-align: right;
	}
}

.portfolio-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.portfolio-item {
		flex: 1 1 20%;
		margin: 10px 10px 20px;
		font-family: 'Fira Sans', sans-serif;
		text-align: center;
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 15px 15px;
		border: 3px dashed #303032;
		border-bottom-style: solid;
		color: white;
		background: #202124;
		transform-style: preserve-3d;
		transition: .15s cubic-bezier(0, 0, .6, 1);

		.portfolio-image {
			max-width: 200px;
			max-height: 200px;
		}

		.portfolio-name {
			font-size: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: capitalize;
			
			&::before {
				content: "";
			}
		}

		.portfolio-category {
			color: #2d8442;
			font-size: 17px;
			text-transform: uppercase;
		}

		.portfolio-desc {
			font-size: 15px;

			&::before {
				content: "";
			}
		}

		.tag-container {
			display: block;
			justify-content: center;

			.tag-item {
				position: relative;
				display: inline-block;
				max-width: 100%;
				font-size: 16px;
				margin: 4px;
				border: 3px solid var(--link);
				padding: 0 2px 0 2px;
				transition: all .3s ease;

				&::before {
					content: "";
				}

				&:hover {
					border: 3px solid var(--link);
					background-color: var(--link);
					color: var(--background-color);
				}
			}
		}
	}
	.portfolio-item::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #2d8442;
		box-shadow: 0 0 0 3px var(--link);
		transform: translate3d(0, .75em, -1em);
		transition: .15s cubic-bezier(0, 0, .6, 1);
	}
	
	.portfolio-item:hover {
		background: #303032;
		transform: translate(0, .25em);
	}
	
	.portfolio-item:hover::before {
		box-shadow: 0 0 0 3px var(--link);
		transform: translate3d(0, .5em, -1em);
	}
}

.contact-links {
	padding: 0;
	padding-left: 15px;
	margin-top: -10px;
	list-style: none;

	.contact-item {
		padding-top: 10px;
		padding-bottom: 10px;

		&::before {
			content: '* ';
			font-weight: bold;
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	border-top: 0.4rem dotted var(--footer-dot);
	padding: 2rem 0;
	margin-top: 2rem;
}