@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
	--text-selection: #e63946;
	--footer-dot: rebeccapurple;
	--link: #50fa7b;
	--background-color: #202124;
	--hovercolor: navy;
}

[data-theme="dark"] {
	--color-background: #202124;
	--color-underline: #50fa7b;
	--color-block: #50fa7b;
	--color-block-dark: #2d8442;
	--color-light-button: #43454C;
	--color-light-card: #303032;
	--color-text: white;
	--footer-dot: rebeccapurple;
	--text-selection: #e63946;
}

[data-theme="light"] {
	--color-background: #f5f3f4;
	--color-underline: #168aad;
	--color-block: #c1121f;
	--color-block-dark: #256482;
	--color-light-button: #ffcaca;
	--color-light-card: #bcbcbc;
	--color-text: #202124;
	--footer-dot: #168aad;
	--text-selection: #e63946;
}

h1::before {
	color: var(--color-block);
	content: "# ";
}

h2::before {
	color: var(--color-block);
	content: "## ";
}

p::before {
	content: "__";
	color: var(--color-block);
}

::selection {
	background: var(--text-selection);
	color: white;
	text-shadow: none;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}

a[href] {
	color: var(--color-text);
	transition: all .3s ease;
	text-decoration: none;
	border-bottom: 0.16em solid var(--color-underline);

	&:hover {
		background-color: var(--color-block);
		color: var(--color-background);
		text-decoration: none;
	}
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	margin-top: 0.27em;

	.container {
		display: flex;
		align-items: center;
	}

	.logo {
		transition: all .3s ease;
		padding: 0 0.1em 0 0.1em;
		font-size: 1.5em;
		font-weight: 600;
		text-decoration: none;
		border: 0.16em solid var(--color-underline);
		background-color: var(--color-underline);
		color: var(--color-background);

		&:hover {
			background-color: var(--color-background);
			color: var(--color-text);
		}
	}

	.nav-links {
		display: flex;
		margin-left: auto;
		list-style: none;
		flex-wrap: wrap;

		.nav-item {
			transition: all .3s ease;
			position: relative;
			display: inline-block;
			margin-left: 0.27em;
			margin-right: 0.27em;
			font-weight: 600;
			text-decoration: none;
			border-bottom: 0.16em solid var(--color-underline);

			&:hover {
				display: inline-block;
				background-color: var(--color-block);
				color: var(--color-background);
				text-decoration: none;
			}
		}
	}
}

.hero {
	padding-top: 1.1em;
	padding-bottom: 1.1em;

	.container {
		display: flex;
		align-items: center;

		.text-wrapper {
			width: 50%;
			
			&.w-full {
				width: 100%;
			}

			.title {
				font-size: 2.1em;
				margin-top: 0;
				margin-bottom: 0.5em;

				&.smaller {
					font-size: 1.6em;
				}

				&.center {
					text-align: center;
				}
			}

			.description {
				font-size: 1.1em;
				line-height: 1.5;

				&.paragraph {
					font-family: 'Fira Sans', sans-serif;
				}
			}

			.button-container {
				display: flex;

				&.left {
					justify-content: flex-start;
				}

				&.center {
					justify-content: center;
				}
			
				.btn {
					position: relative;
					display: inline-block;
					cursor: pointer;
					text-decoration: none;
					padding: 0.83em 1.38em;
					border: 3px solid var(--color-underline);
					font-weight: bold;
					letter-spacing: 0.16em;
					color: var(--color-text);
					text-transform: uppercase;
					background: var(--color-background);
					transform-style: preserve-3d;
					transition: .15s cubic-bezier(0, 0, .6, 1);

					&.center {
						margin: 0.5em 0.5em 0.5em 0.5em;
					}
				}
				
				.btn::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--color-block-dark);
					box-shadow: 0 0 0 3px var(--color-underline);
					transform: translate3d(0, .75em, -1em);
					transition: .15s cubic-bezier(0, 0, .6, 1);
				}
				
				.btn:hover {
					background: var(--color-light-button);
					transform: translate(0, .25em);
				}
				
				.btn:hover::before {
					box-shadow: 0 0 0 3px var(--color-underline);
					transform: translate3d(0, .5em, -1em);
				}
				
				.btn:active {
					background: var(--color-block);
					color: var(--color-background);
					transform: translate(0, .75em);
				}
				
				.btn:active::before {
					transform: translate3d(0, 0, -1em);
				}
			}
		}

		.image-wrapper {
			width: 50%;
			text-align: right;
		}
	}

	
}

.portfolio-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.portfolio-item {
		flex: 1 1 20%;
		margin: 0.5em 0.5em 1.1em;
		font-family: 'Fira Sans', sans-serif;
		text-align: center;
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 0.83em 0.83em;
		border: 3px dashed var(--color-light-card);
		border-bottom-style: solid;
		color: var(--color-text);
		background: var(--color-background);
		transform-style: preserve-3d;
		transition: .15s cubic-bezier(0, 0, .6, 1);

		.portfolio-image {
			max-width: 11.1em;
			max-height: 11.1em;
		}

		.portfolio-name {
			font-size: 1.1em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			text-transform: capitalize;
			
			&::before {
				content: "";
			}
		}

		.portfolio-category {
			margin-top: 0.5em;
			color: var(--color-block-dark);
			font-size: 18px;
			text-transform: uppercase;
		}

		.portfolio-desc {
			font-size: 0.83em;

			&::before {
				content: "";
			}
		}

		.tag-container {
			display: block;
			justify-content: center;

			.tag-item {
				position: relative;
				display: inline-block;
				max-width: 100%;
				font-size: 16px;
				margin: 0.2em;
				border: 0.16em solid var(--color-underline);
				padding: 0 0.1em 0 0.1em;
				transition: all .3s ease;

				&::before {
					content: "";
				}

				&:hover {
					border: 0.16em solid var(--color-underline);
					background-color: var(--color-underline);
					color: var(--color-background);
				}
			}
		}
	}
	.portfolio-item::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-block-dark);
		box-shadow: 0 0 0 3px var(--color-underline);
		transform: translate3d(0, .75em, -1em);
		transition: .15s cubic-bezier(0, 0, .6, 1);
	}
	
	.portfolio-item:hover {
		background: var(--color-light-card);
		transform: translate(0, .25em);
	}
	
	.portfolio-item:hover::before {
		box-shadow: 0 0 0 3px var(--color-underline);
		transform: translate3d(0, .5em, -1em);
	}
}

.contact-links {
	padding: 0;
	padding-left: 0.83em;
	margin-top: -0.5em;
	list-style: none;

	.contact-item {
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&::before {
			content: '* ';
			font-weight: bold;
		}
	}
}

.footer {
	position: relative;
	display: flex;
	align-items: center;
	border-top: 0.4rem dotted var(--footer-dot);
	padding: 1rem 0;
	margin-top: 2rem;
}

@media screen and (max-width: 425px) {
	body {
		font-size: 15px;
	}

	.container {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.hero {
		.container {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			.text-wrapper {
				width: 100%;
			}
			
			.image-wrapper {
				width: 100%;
				text-align: center;

				svg {
					width: auto;
					height: auto;
				}
			}
		}
	}

	.button-container {
		flex-wrap: wrap;

		&.left {
			justify-content: center;
		}
		
		.btn {
			flex: 1 1 100%;
			text-align: center;
			
			&.center {
				margin: 0.5em 0.5em 0.5em 0.5em;
			}
		};
	}

	.footer {
		.footer-text {
			font-size: 0.86em;
		}
	}

	.navbar {
		.container {
			flex-wrap: wrap;
			flex-direction: column;
		}

		.nav-links {
			display: flex;
			margin-left: 0;
			list-style: none;
			padding-inline-start: 0;
		}
	}
}